@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@theme {
	--radius: 12px;
	--radius-xl: calc(var(--radius) + 4px);
	--radius-lg: var(--radius);
	--radius-md: calc(var(--radius) - 2px);
	--radius-sm: calc(var(--radius) - 4px);

	--font-sf-pro: 'SF Pro';
}

@layer base {
	* {
		@apply font-sf-pro;
	}
	body {
		@apply overflow-hidden text-white select-none;
	}
}

@font-face {
	font-family: 'SF Pro';
	src: url('/fonts/SF-Pro.ttf') format('truetype');
	font-weight: 100 900;
	font-style: normal;
}
